<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>
	<main>
		<div id="address">
		<div id="data-wrapper">
			<h2>Property Details</h2>
			<div id="desirability-score" class="info-panel">
				Desirability score: <%= desirabilityScore %>
			</div>
			<div id="property-specs" class="info-panel">
				Address: <%= address %>, <%= city %>, <%= state %> <%= zip %> <br />
				Size: <%= size %> sq. ft. <br />
				Zoning: <%= zoning %> <br />
				Type: <%= type %> <br />
				imageFileName:
				<img src="../images/<%= imageFileName %>">
			</div>
		</div>
	</main>
</body>

<script type="text/javascript">
    

    
</script>
</html>